Repository CS3219-AY2324S1/ay2324s1-course-assessment-g05, pull requests merged in 2023-09, with the labels that each got.

#9 Replace daisyui with nextui and include question service page
  backend/question-service/.dockerignore
  backend/question-service/.gitignore
  backend/question-service/Dockerfile
  backend/question-service/README.md
  backend/question-service/index.ts
  backend/question-service/package-lock.json
  backend/question-service/package.json
  backend/question-service/tsconfig.json
  common/README.md
  common/tsconfig.json
  common/types/question.d.ts
  frontend/.env.development
  frontend/.env.production
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/Dockerfile
  frontend/README.md
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/scripts/README.md
  frontend/src/app/(pages)/README.md
  frontend/src/app/(pages)/questions/page.tsx
  frontend/src/app/api/hello/route.ts
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/app/providers.tsx
  frontend/src/components/QuestionTable.tsx
  frontend/src/components/README.md
  frontend/src/helpers/README.md
  frontend/src/helpers/endpoint.ts
  frontend/src/helpers/logger.ts
  frontend/src/styles/globals.css
  frontend/src/types/README.md
  frontend/src/types/enums.ts
  frontend/tailwind.config.js
  frontend/tsconfig.json
  peerprep/next.config.js
  peerprep/src/app/page.tsx
Labels: FRONTEND

#21 Create sign-in/sign-up page and user page
  frontend/package-lock.json
  frontend/public/eye-hide.svg
  frontend/public/eye-show.svg
  frontend/public/github.svg
  frontend/public/google.svg
  frontend/public/submit_button.svg
  frontend/src/app/(pages)/forgotpassword/page.tsx
  frontend/src/app/(pages)/login/error.tsx
  frontend/src/app/(pages)/login/loading.tsx
  frontend/src/app/(pages)/login/page.tsx
  frontend/src/app/(pages)/profile/error.tsx
  frontend/src/app/(pages)/profile/loading.tsx
  frontend/src/app/(pages)/profile/page.tsx
  frontend/src/app/(pages)/verify/error.tsx
  frontend/src/app/(pages)/verify/loading.tsx
  frontend/src/app/(pages)/verify/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/PeerPrepLogo.tsx
  frontend/src/components/login/ForgotPassword.tsx
  frontend/src/components/login/Login.tsx
  frontend/src/components/login/Verify.tsx
  frontend/src/components/profile/ChangePassword.tsx
  frontend/src/components/profile/Information.tsx
  frontend/src/components/profile/Profile.tsx
  frontend/src/components/profile/ProfileCard.tsx
  frontend/src/styles/globals.css
  frontend/src/types/enums.ts
  frontend/src/types/user.d.ts
Labels: FRONTEND, AS1

#27 Create base layout (landing, navbar, dashboard)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/common/constants.ts
  frontend/src/components/common/NavBar.tsx
  frontend/src/components/common/PeerPrepLogo.tsx
  frontend/src/components/common/ProfilePictureAvatar.tsx
  frontend/src/components/dashboard/Dashboard.tsx
  frontend/src/components/dashboard/DonutChart.tsx
  frontend/src/components/dashboard/HeatmapCard.tsx
  frontend/src/components/dashboard/MatchingCard.tsx
  frontend/src/components/dashboard/ProfileCard.tsx
  frontend/src/components/dashboard/QuestionStatisticsCard.tsx
  frontend/src/components/dashboard/StatisticsCard.tsx
  frontend/src/components/landing/Landing.tsx
  frontend/src/helpers/auth/auth_api_wrappers.tsx
  frontend/src/helpers/history/history_api_wrappers.tsx
  frontend/src/helpers/matching/matching_api_wrappers.tsx
  frontend/src/helpers/user/user_api_wrappers.tsx
  frontend/src/utils/stringUtils.ts
Labels: FRONTEND, AS1, AS2

#25 Implement User Service
  backend/user-service/.gitignore
  backend/user-service/README.md
  backend/user-service/jest.config.js
  backend/user-service/package-lock.json
  backend/user-service/package.json
  backend/user-service/src/__tests__/integration/health.test.ts
  backend/user-service/src/__tests__/unit/delete-user.test.ts
  backend/user-service/src/__tests__/unit/get-user.test.ts
  backend/user-service/src/__tests__/unit/post-user.test.ts
  backend/user-service/src/__tests__/unit/put-user.test.ts
  backend/user-service/src/__tests__/utils/payloads.ts
  backend/user-service/src/__tests__/utils/server.ts
  backend/user-service/src/app.ts
  backend/user-service/src/controllers/handlers/delete-handler.ts
  backend/user-service/src/controllers/handlers/get-handler.ts
  backend/user-service/src/controllers/handlers/post-handler.ts
  backend/user-service/src/controllers/handlers/put-handler.ts
  backend/user-service/src/controllers/index.ts
  backend/user-service/src/lib/db.ts
  backend/user-service/src/lib/enums/Complexity.ts
  backend/user-service/src/lib/enums/Gender.ts
  backend/user-service/src/lib/enums/HttpStatusCode.ts
  backend/user-service/src/lib/enums/Language.ts
  backend/user-service/src/lib/enums/Role.ts
  backend/user-service/src/lib/enums/Topic.ts
  backend/user-service/src/lib/validators/CreateUserPreferencesValidator.ts
  backend/user-service/src/lib/validators/CreateUserValidator.ts
  backend/user-service/src/lib/validators/EmailValidator.ts
  backend/user-service/src/lib/validators/UpdateUserPreferencesValidator.ts
  backend/user-service/src/lib/validators/UpdateUserValidator.ts
  backend/user-service/src/middleware/cors.ts
  backend/user-service/src/models/prisma/schema.prisma
  backend/user-service/src/models/types/preferences.d.ts
  backend/user-service/src/models/types/user.d.ts
  backend/user-service/src/routes/index.ts
  backend/user-service/tsconfig.build.json
  backend/user-service/tsconfig.json
Labels: BACKEND, AS2

#29 Implement Question Service backend
  backend/question-service/index.ts
  backend/question-service/jest.config.js
  backend/question-service/package-lock.json
  backend/question-service/package.json
  backend/question-service/src/__tests__/integration/get-health.test.ts
  backend/question-service/src/__tests__/unit/get-question.test.ts
  backend/question-service/src/__tests__/utils/payloads.ts
  backend/question-service/src/__tests__/utils/server.ts
  backend/question-service/src/app.ts
  backend/question-service/src/controllers/handlers/delete-handler.ts
  backend/question-service/src/controllers/handlers/get-handler.ts
  backend/question-service/src/controllers/handlers/post-handler.ts
  backend/question-service/src/controllers/handlers/put-handler.ts
  backend/question-service/src/controllers/index.ts
  backend/question-service/src/lib/HttpStatusCode.ts
  backend/question-service/src/lib/enums/Complexity.ts
  backend/question-service/src/lib/enums/Topic.ts
  backend/question-service/src/lib/validators/CreateQuestionValidator.ts
  backend/question-service/src/lib/validators/QueryParamValidator.ts
  backend/question-service/src/lib/validators/UpdateQuestionValidator.ts
  backend/question-service/src/middleware/cors.ts
  backend/question-service/src/models/database/db.ts
  backend/question-service/src/models/question.d.ts
  backend/question-service/src/routes/index.ts
  backend/question-service/src/temp-data/questions.json
  backend/question-service/src/temp-data/questions.ts
  backend/question-service/src/temp-data/testBody.json
  backend/question-service/tsconfig.json
Labels: BACKEND, AS1, AS2

#33 Update Gender.ts
  backend/user-service/src/lib/enums/Gender.ts
Labels: PATCH

#40 Integrate CRUD actions with question service
  frontend/.env.development
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(pages)/questions/page.tsx
  frontend/src/components/question/ComplexityChip.tsx
  frontend/src/components/question/DeleteQuestion.tsx
  frontend/src/components/question/ModifyQuestionModal.tsx
  frontend/src/components/question/QuestionConstrainsTable.tsx
  frontend/src/components/question/QuestionDescription.tsx
  frontend/src/components/question/QuestionExamplesTable.tsx
  frontend/src/components/question/QuestionTable.tsx
  frontend/src/helpers/endpoint.ts
  frontend/src/helpers/question/question_api_wrappers.tsx
  frontend/src/helpers/questions/services.tsx
  frontend/src/types/enums.ts
  frontend/src/types/question.d.ts
Labels: FRONTEND, AS1, AS2

#46 Patch Question Service
  frontend/src/app/(pages)/questions/[id]/page.tsx
  frontend/src/components/question/QuestionDescription.tsx
  frontend/src/components/question/QuestionTable.tsx
  frontend/src/helpers/endpoint.ts
  frontend/src/helpers/logger.ts
  frontend/src/helpers/question/question_api_wrappers.tsx
  frontend/src/helpers/service.ts
  frontend/src/types/enums.ts
Labels: FRONTEND

#48 Format Input Error Message Returned in Backend Servers (User & Question)
  backend/question-service/src/__tests__/integration/get-health.test.ts
  backend/question-service/src/__tests__/unit/delete-question.test.ts
  backend/question-service/src/__tests__/unit/get-question.test.ts
  backend/question-service/src/__tests__/unit/post-question.test.ts
  backend/question-service/src/__tests__/unit/put-question.test.ts
  backend/question-service/src/__tests__/utils/server.ts
  backend/question-service/src/app.ts
  backend/question-service/src/controllers/handlers/delete-handler.ts
  backend/question-service/src/controllers/handlers/get-handler.ts
  backend/question-service/src/controllers/handlers/post-handler.ts
  backend/question-service/src/controllers/handlers/put-handler.ts
  backend/question-service/src/lib/enums/HttpStatusCode.ts
  backend/question-service/src/lib/utils/errorUtils.ts
  backend/question-service/src/lib/validators/CreateQuestionValidator.ts
  backend/question-service/src/lib/validators/QueryParamValidator.ts
  backend/question-service/src/lib/validators/UpdateQuestionValidator.ts
  backend/user-service/src/__tests__/utils/payloads.ts
  backend/user-service/src/controllers/handlers/post-handler.ts
  backend/user-service/src/controllers/handlers/put-handler.ts
  backend/user-service/src/lib/utils/errorUtils.ts
  backend/user-service/src/lib/validators/CreateUserValidator.ts
Labels: BACKEND

#50 Update getUserById and getUserByEmail to return user preferences
  backend/user-service/src/__tests__/unit/get-user.test.ts
  backend/user-service/src/__tests__/unit/post-user.test.ts
  backend/user-service/src/controllers/handlers/get-handler.ts
  backend/user-service/src/controllers/handlers/post-handler.ts
  backend/user-service/src/lib/validators/CreateUserPreferencesValidator.ts
  backend/user-service/src/models/prisma/schema.prisma
  backend/user-service/src/routes/index.ts
Labels: BACKEND

#56 Create UI components for matching service
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(pages)/questions/[id]/page.tsx
  frontend/src/app/(pages)/questions/page.tsx
  frontend/src/components/common/NavBar.tsx
  frontend/src/components/dashboard/Dashboard.tsx
  frontend/src/components/dashboard/MatchingCard.tsx
  frontend/src/components/matching/MatchingCard.tsx
  frontend/src/components/matching/MatchingLobby.tsx
  frontend/src/components/matching/MatchingLobbySuccessView.tsx
  frontend/src/components/question/ComplexityChip.tsx
  frontend/src/components/question/DeleteQuestion.tsx
  frontend/src/components/question/ModifyQuestionModal.tsx
  frontend/src/components/question/QuestionConstrainsTable.tsx
  frontend/src/components/question/QuestionDescription.tsx
  frontend/src/components/question/QuestionExamplesTable.tsx
  frontend/src/components/question/QuestionTable.tsx
Labels: FRONTEND, AS5

#51 Integrate user service to perform crud for user profile with backend
  backend/user-service/package-lock.json
  frontend/.env.development
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(pages)/login/page.tsx
  frontend/src/app/(pages)/profile/layout.tsx
  frontend/src/app/(pages)/profile/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/providers.tsx
  frontend/src/components/common/NavBar.tsx
  frontend/src/components/common/ProfilePictureAvatar.tsx
  frontend/src/components/common/Toast.tsx
  frontend/src/components/dashboard/MatchingCard.tsx
  frontend/src/components/dashboard/ProfileCard.tsx
  frontend/src/components/login/Login.tsx
  frontend/src/components/matching/MatchingCard.tsx
  frontend/src/components/matching/MatchingLobby.tsx
  frontend/src/components/profile/Information.tsx
  frontend/src/components/profile/Profile.tsx
  frontend/src/components/profile/ProfileCard.tsx
  frontend/src/helpers/endpoint.ts
  frontend/src/helpers/user/user_api_wrappers.tsx
  frontend/src/providers/auth.tsx
  frontend/src/types/HttpStatusCode.ts
  frontend/src/types/PeerPrepErrors.ts
  frontend/src/types/enums.ts
  frontend/src/types/preference.d.ts
  frontend/src/types/user.d.ts
  frontend/src/utils/errorUtils.ts
Labels: FRONTEND, AS1, AS2

#62 Patch User Service
  backend/user-service/src/__tests__/unit/post-user.test.ts
  backend/user-service/src/controllers/handlers/post-handler.ts
  backend/user-service/src/models/prisma/schema.prisma
Labels: BACKEND

#69 Implement delete function for profile
  frontend/src/components/profile/DeleteModal.tsx
  frontend/src/components/profile/Profile.tsx
Labels: FRONTEND, AS2

#67 Create question panel
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(pages)/collaboration/page.tsx
  frontend/src/components/collab/CodeEditorNavBarTooltip.tsx
  frontend/src/components/collab/CodeEditorNavbar.tsx
  frontend/src/components/collab/CodeEditorPanel.tsx
  frontend/src/components/collab/ProblemDescription.tsx
  frontend/src/components/collab/ProblemPanel.tsx
  frontend/src/components/collab/Timer.tsx
  frontend/src/components/collab/Workspace.tsx
  frontend/src/components/common/Icons.tsx
  frontend/src/components/question/ComplexityChip.tsx
  frontend/src/helpers/question/question_api_wrappers.tsx
  frontend/src/styles/globals.css
  frontend/src/types/question.d.ts
Labels: FRONTEND

#74 Add problem description component in question details page
  frontend/src/app/(pages)/questions/[id]/page.tsx
  frontend/src/app/(pages)/questions/layout.tsx
  frontend/src/app/(pages)/questions/page.tsx
  frontend/src/components/collab/ProblemDescription.tsx
  frontend/src/components/matching/MatchingLobby.tsx
Labels: FRONTEND

#77 Set up an `npm` command to run all servicese concurrently
  frontend/package-lock.json
  frontend/package.json
Labels: enhancement
