Repository CS3219-AY2324S1/ay2324s1-course-assessment-g05, pull requests merged in 2023-10, with the labels that each got.

#57 Create a working matching service
  backend/matching-service/.dockerignore
  backend/matching-service/.gitignore
  backend/matching-service/Dockerfile
  backend/matching-service/README.md
  backend/matching-service/jest.config.js
  backend/matching-service/package-lock.json
  backend/matching-service/package.json
  backend/matching-service/src/__tests__/unit/encoder.test.ts
  backend/matching-service/src/__tests__/utils/payloads.ts
  backend/matching-service/src/__tests__/utils/server.ts
  backend/matching-service/src/app.ts
  backend/matching-service/src/controllers/handlers/get-handler.ts
  backend/matching-service/src/controllers/handlers/socket-handler.ts
  backend/matching-service/src/controllers/index.ts
  backend/matching-service/src/lib/enums/Complexity.ts
  backend/matching-service/src/lib/enums/HttpStatusCode.ts
  backend/matching-service/src/lib/enums/Language.ts
  backend/matching-service/src/lib/enums/Topic.ts
  backend/matching-service/src/lib/utils/encoder.ts
  backend/matching-service/src/lib/utils/errorUtils.ts
  backend/matching-service/src/lib/utils/logger.ts
  backend/matching-service/src/lib/utils/roomManager.ts
  backend/matching-service/src/middleware/cors.ts
  backend/matching-service/src/models/types/partner.d.ts
  backend/matching-service/src/models/types/preferences.d.ts
  backend/matching-service/src/models/types/room.d.ts
  backend/matching-service/src/routes/index.ts
  backend/matching-service/tsconfig.build.json
  backend/matching-service/tsconfig.json
  frontend/next.config.js
  frontend/package.json
  frontend/src/app/(pages)/questions/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/common/constants.ts
  frontend/src/components/common/Icons.tsx
  frontend/src/components/dashboard/Dashboard.tsx
  frontend/src/components/matching/MatchingCard.tsx
  frontend/src/components/matching/MatchingLobby.tsx
  frontend/src/components/matching/MatchingLobbyErrorView.tsx
  frontend/src/components/matching/MatchingLobbyMatchingView.tsx
  frontend/src/components/matching/MatchingLobbyNoMatchView.tsx
  frontend/src/components/matching/MatchingLobbyPrepCollabView.tsx
  frontend/src/components/matching/MatchingLobbySuccessView.tsx
  frontend/src/components/question/DeleteQuestion.tsx
  frontend/src/components/question/ModifyQuestionModal.tsx
  frontend/src/components/question/QuestionConstrainsTable.tsx
  frontend/src/components/question/QuestionDescription.tsx
  frontend/src/components/question/QuestionExamplesTable.tsx
  frontend/src/components/question/QuestionTable.tsx
  frontend/src/helpers/endpoint.ts
  frontend/src/helpers/matching/matching_api_wrappers.tsx
  frontend/src/helpers/matching/socket_service.tsx
  frontend/src/helpers/question/question_api_wrappers.tsx
  frontend/src/types/enums.ts
  frontend/src/types/partner.d.ts
Labels: FRONTEND, BACKEND, AS5

#117 Create History Service Frontend
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/src/app/(pages)/questions/[id]/history/[historyId]/page.tsx
  frontend/src/app/(pages)/questions/history/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/common/Icons.tsx
  frontend/src/components/dashboard/Dashboard.tsx
  frontend/src/components/dashboard/HeatmapCard.tsx
  frontend/src/components/dashboard/QuestionStatisticsCard.tsx
  frontend/src/components/dashboard/StatisticsCard.tsx
  frontend/src/components/dashboard/donut-chart/ComplexityDonutChart.tsx
  frontend/src/components/dashboard/donut-chart/LanguageDonutChart.tsx
  frontend/src/components/dashboard/heatmap/ActivityHeatMap.tsx
  frontend/src/components/dashboard/question-statistics/AttemptedQuestionTable.tsx
  frontend/src/components/dashboard/question-statistics/QuestionFilter.tsx
  frontend/src/components/history/HistoryCodeSpace.tsx
  frontend/src/components/history/ReadOnlyCodeEditor.tsx
  frontend/src/contexts/history.tsx
  frontend/src/contexts/providers.tsx
  frontend/src/helpers/history/history_api_wrappers.tsx
  frontend/src/helpers/question/question_api_wrappers.tsx
  frontend/src/styles/globals.css
  frontend/src/types/enums.ts
  frontend/src/types/history.d.ts
  frontend/src/utils/classNameUtils.ts
  frontend/src/utils/stringUtils.ts
Labels: FRONTEND

#127 Integration for History
  .github/workflows/run_frontend_build.yml
  backend/history-service/.dockerignore
  backend/history-service/Dockerfile
  backend/history-service/compose.yaml
  backend/history-service/package-lock.json
  backend/history-service/src/__tests__/unit/delete-history.test.ts
  backend/history-service/src/__tests__/unit/get-history.test.ts
  backend/history-service/src/__tests__/unit/post-history.test.ts
  backend/history-service/src/__tests__/unit/put-history.test.ts
  backend/history-service/src/__tests__/utils/payloads.ts
  backend/history-service/src/__tests__/utils/server.ts
  backend/history-service/src/app.ts
  backend/history-service/src/controllers/handlers/get-handler.ts
  backend/history-service/src/lib/utils/stringUtils.ts
  backend/history-service/src/middleware/auth.ts
  backend/matching-service/package-lock.json
  backend/question-service/package-lock.json
  backend/question-service/src/app.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(pages)/collaboration/room/[roomId]/page.tsx
  frontend/src/app/(pages)/questions/[id]/history/[historyId]/page.tsx
  frontend/src/app/api/profile/upload/image/route.ts
  frontend/src/components/collab/CodeEditorNavbar.tsx
  frontend/src/components/collab/CodeEditorPanel.tsx
  frontend/src/components/collab/EndSessionModal.tsx
  frontend/src/components/collab/chat/ChatSpace.tsx
  frontend/src/components/common/NavBar.tsx
  frontend/src/components/common/ProfilePictureAvatar.tsx
  frontend/src/components/common/SpinnerLoadingComponent.tsx
  frontend/src/components/dashboard/HeatmapCard.tsx
  frontend/src/components/dashboard/ProfileDashboardCard.tsx
  frontend/src/components/dashboard/QuestionStatisticsCard.tsx
  frontend/src/components/dashboard/StatisticsCard.tsx
  frontend/src/components/dashboard/donut-chart/ComplexityDonutChart.tsx
  frontend/src/components/dashboard/donut-chart/LanguageDonutChart.tsx
  frontend/src/components/dashboard/heatmap/ActivityHeatMap.tsx
  frontend/src/components/dashboard/question-statistics/AttemptedQuestionTable.tsx
  frontend/src/components/login/Login.tsx
  frontend/src/components/matching/MatchingCard.tsx
  frontend/src/components/matching/MatchingLobby.tsx
  frontend/src/components/matching/MatchingLobbySuccessView.tsx
  frontend/src/components/profile/Information.tsx
  frontend/src/components/profile/ProfileCard.tsx
  frontend/src/components/question/ModifyQuestionModal.tsx
  frontend/src/contexts/collab.tsx
  frontend/src/contexts/history.tsx
  frontend/src/contexts/topic.tsx
  frontend/src/helpers/auth/auth_api_wrappers.tsx
  frontend/src/helpers/collaboration/socket_service.ts
  frontend/src/helpers/endpoint.ts
  frontend/src/helpers/history/history_api_wrappers.tsx
  frontend/src/helpers/matching/socket_service.tsx
  frontend/src/helpers/question/question_api_wrappers.tsx
  frontend/src/helpers/user/user_api_wrappers.tsx
  frontend/src/middleware.ts
  frontend/src/types/history.d.ts
Labels: FRONTEND, BACKEND, PATCH
